<section class="single-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-content">
                    <h2>{{productByCategoryID[0].categoryId.name}}</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{productByCategoryID[0].categoryId.name}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>