<section class="single-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-content">
                    <h2>Change Password Account</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Change Password
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fuild mb-5">
    <div class="row" style="padding-top: 5%">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form name="cpForm">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="float-left mb-2">Current Passowrd</label>
                            <input type="password" name="oldPassword" id="oldPass" class="form-control" minlength="6"
                                ng-model="$parent.oldPassword" ng-required="true" />
                            <span class="validateField float-left"
                                ng-show="cpForm.oldPassword.$touched && cpForm.oldPassword.$error.required">
                                <i>Required field </i></span>
                            <span class="validateField float-left" ng-show="cpForm.oldPassword.$error.minlength"><i> At
                                    least min 6 chars</i></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="float-left mb-2">New Passowrd</label>
                            <input type="password" id="newPass" name="newPass" ng-model="$parent.newPassword"
                                class="form-control" minlength="6" required />
                            <span class="validateField float-left"
                                ng-show="cpForm.newPass.$touched && cpForm.newPass.$error.required">
                                <i>Required field </i></span>
                            <span class="validateField float-left" ng-show="cpForm.newPass.$error.minlength"><i> At
                                    least min 6 chars</i></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="float-left mb-2">Repeat Passowrd</label>
                            <input type="password" id="confirmNewPass" class="form-control" name="confirmNewPass"
                                ng-model="$parent.confirmNewPass"  required  compare-to="$parent.newPassword"/>
                            <!-- <span class="validateField float-left"
                                ng-show="cpForm.confirmNewPass.$touched && cpForm.confirmNewPass.$error.required">
                                <i>Required field </i></span> -->
                            <span class="validateField float-left" ng-show="cpForm.confirmNewPass.$error.minlength"><i>
                                    At least min 6 chars</i></span>
                                    <span class="validateField float-left" ng-show="cpForm.confirmNewPass.$error.compareTo && cpForm.confirmNewPass.$touched ">  
                                        <i>Passwords don't match </i>  
                                     </span>        
                                   
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="" style="text-align: center">
                            <button type="submit" class="btn btn-success border-0" ng-click="changePassword()" ng-disabled="cpForm.$invalid">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>