<section class="single-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-content">
                    <h2>{{titleBanner}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>