<section class="product-list" style="padding: 15px 0;">
    <div class="container" style="background-color: white;">
        <div class="row content-reverse">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-filter">

                            <div class="product-page-number mt-3">
                                <p>Showing 1–9 of 130 results</p>
                            </div>

                            <select class="product-short-select custom-select mt-2" ng-init="modelName='id'"
                                ng-model="modelName" ng-change="sort(modelName)">
                                <option value="id">Short By New Item
                                </option>
                                <option value="price:reverse">Sort By Ascending Price
                                </option>
                                <option value="price">Sort By Descending Price
                                </option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="row product-card-parent">
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3"
                        dir-paginate="product in productBySearch|orderBy:sortKey:reverse|itemsPerPage:12">
                        <div class="product-card card-gape">
                            <div class="product-img">
                                <div ng-repeat="image in product.image">
                                    <div ng-if="image.status == 1">
                                        <img src="../../static/images/product/{{image.name}}" alt="product-1">
                                    </div>
                                </div>
                                <ul class="product-widget">
                                    <li><button ng-click="redirectProductID(product.id, product.categoryId.id)"><i class="fas fa-eye"></i></button></li>
                                    <li><button><i class="fas fa-heart"></i></button></li>
                                    <li><button data-toggle="modal" data-target="#exampleModal"
                                        ng-click="getProductID(product.id, product.categoryId.id)">
                                        <i class="fas fa-share"></i>
                                    </button></li>
                                </ul>
                            </div>
                            <div class="product-content" style="border: none;">
                                <div class="product-name" style="height: 50px;">
                                    <h6><a href="../product-detail_page/view.html?categoryID={{product.categoryId.id}}&productID={{product.id}}">{{product.name}}</a></h6>
                                </div>
                                <div class="product-price">
                                    <h6><del>${{product.price}}</del>${{product.price*(100-product.percentItem)/100}}
                                    </h6>
                                    <div class="product-rating"><i class="fas fa-star"></i><span>4.5/2</span></div>
                                </div>
                                <div class="product-btn"><a ng-click="addToCart(product.id, 'showMoreController')"><i class="fas fa-shopping-basket"></i><span>Add
                                            to Cart</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!--POP-UP-->
                 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                 <div class="modal-dialog">
                     <div class="modal-content">
                         <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLabel">
                                 SHARE PRODUCT
                             </h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                             </button>
                         </div>
                         <div class="modal-body">
                             <form>
                                 <div class="form-group">
                                     <label class="col-form-label">Email</label>
                                     <input type="text" class="form-control" id="emailValue" />
                                 </div>
                                 <div class="form-group">
                                     <label for="message-text" class="col-form-label">Content</label>
                                     <textarea class="form-control" id="contentValue"></textarea>
                                 </div>
                             </form>
                         </div>
                         <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                 Close
                             </button>
                             <button type="button" class="btn btn-success" ng-click="shareEmail()">
                                 Submit
                             </button>
                         </div>
                     </div>
                 </div>
             </div>

                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                </dir-pagination-controls>

            </div>
        </div>
    </div>
</section>