<section class="cart-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-list">
                    <table class="table-list">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div ng-if="user">
                                <tr ng-repeat="pro in cartByUser track by $index">
                                    <td class="table-number">
                                        <h5>{{$index +1}}</h5>
                                    </td>

                                    <td class="table-product">
                                        <img src="../../static/images/product/{{pro.productId.image[0].name}}"
                                            alt="product-1" />
                                    </td>

                                    <td class="table-name">
                                        <h5>{{pro.productId.name}}</h5>
                                    </td>
                                    <td class="table-price">
                                        <h5>{{pro.price*(100-pro.productId.percentItem)/100 | number}}</h5>
                                    </td>   
                                    <td class="table-quantity">
                                        <input type="number" value="{{pro.quanlity}}" min="1" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                            ng-change="getQuantityProduct(pro.id, myValue)" ng-model="myValue" />
                                    </td>
                                    <td class="table-total">
                                        <h5>{{pro.quanlity * (pro.price*(100-pro.productId.percentItem)/100)  |number}}</h5>
                                    </td>
                                    <td class="table-action">
                                        <a href="#"
                                            ng-click="redirectProductID(pro.productId.id, pro.productId.categoryId.id)"><i
                                                class="fas fa-eye"></i></a><a href="" ng-click="deleteCart(pro.id)"><i
                                                class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            </div>
                            <div ng-if="!user">
                                <tr ng-repeat="pro in cart track by $index">
                                    <td class="table-number">
                                        <h5>{{$index +1}}</h5>
                                    </td>

                                    <td class="table-product">
                                        <img src="../../static/images/product/{{pro.image.name}}" alt="product-1" />
                                    </td>

                                    <td class="table-name">
                                        <h5>{{pro.name}}</h5>
                                    </td>
                                    <td class="table-price">
                                        <h5>{{pro.price*(100-pro.percentItem)/100 | number}}</h5>
                                    </td>
                                    <td class="table-quantity">
                                        <input type="number" value="{{pro.quantity}}" min="0" max="100" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                            ng-change="getQuantityProduct(pro.id, myValue)" ng-model="myValue" />
                                    </td>
                                    <td class="table-total">
                                        <h5>${{pro.quantity * (pro.price*(100-pro.percentItem)/100)}}</h5>
                                    </td>
                                    <td class="table-action">
                                        <a href="#" ng-click="redirectProductID(pro.id, pro.categoryId.id)"><i
                                                class="fas fa-eye"></i></a><a href="" ng-click="removeItem(pro.id)"><i
                                                class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="cart-back">
                    <a href="http://127.0.0.1:5502/customer/template/home_page/view.html" class="btn btn-inline"><i
                            class="fas fa-undo-alt"></i><span>Back to Shop</span></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="cart-cupon">
                    <form ng-if="checkUser">
                        <button class="btn btn-inline" ng-click="deleteAllCart()">
                            <i class="fas fa-cut"></i><span>Clear All</span>
                        </button>
                    </form>
                    <form ng-if="!checkUser">
                        <button class="btn btn-inline" ng-click="removeAllItem()">
                            <i class="fas fa-cut"></i><span>Clear All</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                    <div class="cart-totals">
                        <h2 class="title">Cart Totals</h2>
                        <ul ng-if="!checkUser">
                            <li>
                                <span>Shipping Charge</span><span>{{shippingCharge |number}} <p style="display: inline-block;">vnđ</p></span>
                            </li>
                            <li><span>Subtotal</span><span>{{subTotal | number}} <p style="display: inline-block;">vnđ</p></span></li>
                            <li>
                                <span>Total</span><span>{{totalPrice + subTotal + shippingCharge |number}} <p style="display: inline-block;">vnđ</p></span>
                            </li>
                        </ul>
                        <ul ng-if="checkUser">
                            <li>
                                <span>Shipping Charge</span><span>{{shippingCharge |number}} <p style="display: inline-block;">vnđ</p></span>
                            </li>
                            <li><span>Subtotal</span><span>{{subTotal |number}} <p style="display: inline-block;">vnđ</p></span></li>
                            <li>
                                <span>Total</span><span>{{totalBill.sumPrice + subTotal + shippingCharge |number}} <p style="display: inline-block;">vnđ</p></span>
                            </li>
                        </ul>
                    </div>
                <div class="cart-proceed">
                    <a href="" class="btn btn-inline" onclick="location.href = '../checkout_page/view.html'"><i
                            class="fas fa-check"></i><span>Proceed to Checkout</span></a>
                </div>
            </div>
        </div>
    </div>
</section>