<main class="banner-part slider-arrow slider-dots">
    <div ng-repeat="b in banner track by $index | limitTo : 3">
        <section class="banner-{{$index+1}}" style="background:url(../../static/images/banner/{{b.image}})">
            <div class="container">
                <!-- BANNER 1-->
                <div ng-if="$index+1==1">
                    <div class="row">
                        <div class="col-md-5 col-lg-6"></div>
                        <div class="col-md-7 col-lg-6">
                            <div class="banner-content-{{$index+1}}">
                                <h1>{{b.title}}</h1>
                                <p>
                                    {{b.description}}
                                </p>
                                <a class="btn btn-inline" href="product-list-1.html"><i
                                        class="fas fa-shopping-basket"></i><span>shop now</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- BANNER 2-->
                <div ng-if="$index+1==2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner-content-2">
                                <h1>{{b.title}}</h1>
                                <p>
                                    {{b.description}}
                                </p>
                                <a class="btn btn-inline" href="product-list-1.html"><i
                                        class="fas fa-shopping-basket"></i><span>shop now</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--BANNER 3-->
                <div ng-if="$index+1==3">
                    <div class="row">
                        <div class="col-md-7 col-lg-6">
                            <div class="banner-content-3">
                                <h1>{{b.title}}</h1>
                                <p>
                                    {{b.description}}
                                </p>
                                <a class="btn btn-inline" href="product-list-1.html"><i
                                        class="fas fa-shopping-basket"></i><span>shop now</span></a>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-6"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- <section class="banner-2"> 
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-content-2">
                        <h1>Healthy food comes form healthy ingredients.</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                            suscipit illum nesciunt, pariatur explicabo nemo!
                        </p>
                        <a class="btn btn-inline" href="product-list-1.html"><i
                                class="fas fa-shopping-basket"></i><span>shop now</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-3">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-6">
                    <div class="banner-content-3">
                        <h1>Make your food organic and vegan.</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                            suscipit illum nesciunt, pariatur explicabo nemo!
                        </p>
                        <a class="btn btn-inline" href="product-list-1.html"><i
                                class="fas fa-shopping-basket"></i><span>shop now</span></a>
                    </div>
                </div>
                <div class="col-md-5 col-lg-6"></div>
            </div>
        </div>
    </section> -->
</main>