<section class="section best-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="title">Best selling products</h2>
                    <a href="/customer/template/show-more_page/view.html?name=bestsell" class="btn btn-outline"><i
                            class="fas fa-eye"></i>show more</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product-slider slider-arrow">
                    <div class="product-card" ng-repeat="pro in products.bestSellerProduct">
                        <div class="product-img" ng-repeat="img in pro.image">
                            <div ng-if="img.status == 1">
                                <img src="../../static/images/product/{{img.name}}" alt="product-1" />
                                <ul class="product-widget">
                                    <li>
                                        <button ng-click="redirectProductID(pro.id, pro.categoryId.id)"><i
                                                class="fas fa-eye"></i></button>
                                    </li>
                                    <li>
                                        <button><i class="fas fa-heart"></i></button>
                                    </li>
                                    <li>
                                        <button data-toggle="modal" data-target="#exampleModal"
                                            ng-click="getProductID(pro.id, pro.categoryId.id)">
                                            <i class="fas fa-share"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content" style="border: none;">
                            <div class="product-name" style="height: 50px">
                                <h6><a
                                        href="../product-detail_page/view.html?categoryID={{pro.categoryId.id}}&productID={{pro.id}}">{{pro.name}}</a>
                                </h6>
                            </div>
                            <div class="product-price">
                                <h6>
                                    <del>{{pro.price | number}}</del> {{pro.price*(100-pro.percentItem)/100 | number}}
                                    <p style="display: inline-block;">vnđ</p>
                                </h6>
                                <div class="product-rating">
                                    <i class="fas fa-star"></i><span>4.5/2</span>
                                </div>
                            </div>
                            <div class="product-btn" style="cursor: pointer">
                                <a ng-click="addToCart(pro.id, 'bestSellerProduct')"><i
                                        class="fas fa-shopping-basket"></i><span>Add to Cart</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-------POP-UP SHARE PRODUCT----------------->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    SHARE PRODUCT
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form name="emailForm">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-form-label float-left">Email</label>
                                                <input type="email" class="form-control" id="emailValue" name="email"
                                                    ng-model="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                                                    required />
                                                <span class="validateField float-left"
                                                    ng-show="emailForm.email.$touched && emailForm.email.$error.required">
                                                    <i>Required field </i></span>
                                                <span class="validateField float-left"
                                                    ng-show="emailForm.email.$error.pattern">
                                                    <i>invalid email </i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="message-text"
                                                    class="col-form-label float-left">Content</label>
                                                <textarea class="form-control" id="contentValue" name="content"
                                                    ng-model="content" required></textarea>
                                                <span class="validateField float-left"
                                                    ng-show="emailForm.content.$touched && emailForm.content.$error.required">
                                                    <i>Required field </i></span>
                                            </div>
                                        </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-success" ng-click="shareEmail()"
                                    ng-disabled="emailForm.$invalid">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>