<section class="feature-part">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="feature-card">
                    <i class="flaticon-delivery-truck"></i>
                    <h3>Free Delivery</h3>
                    <p>
                        Tempora odio reiciendis incidunt tenetur deserunt dolores autem
                        beatae
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="feature-card">
                    <i class="flaticon-save-money"></i>
                    <h3>Instant Return</h3>
                    <p>
                        Tempora odio reiciendis incidunt tenetur deserunt dolores autem
                        beatae
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="feature-card">
                    <i class="flaticon-customer-service"></i>
                    <h3>Quick Support</h3>
                    <p>
                        Tempora odio reiciendis incidunt tenetur deserunt dolores autem
                        beatae
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>