<section class="section trend-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="title">New products</h2>
                    <a href="/customer/template/show-more_page/view.html?name=new" class="btn btn-outline"><i
                        class="fas fa-eye"></i>show more</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product-slider slider-arrow">
                    <div class="product-card" ng-repeat="pro in products.newProduct">
                        <div class="product-img" ng-repeat="img in pro.image">
                            <div ng-if="img.status == 1">
                                <img src="../../static/images/product/{{img.name}}" alt="product-1" />
                                <ul class="product-widget">
                                    <li>
                                        <button ng-click="redirectProductID(pro.id, pro.categoryId.id)"><i
                                                class="fas fa-eye"></i></button>
                                    </li>
                                    <li>
                                        <button><i class="fas fa-heart"></i></button>
                                    </li>
                                    <li>
                                        <button data-toggle="modal" data-target="#exampleModal"
                                            ng-click="getProductID(pro.id, pro.categoryId.id)">
                                            <i class=" fas fa-share"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content" style="border: none;">
                            <div class="product-name" style="height: 50px">
                                <h6>
                                    <a
                                        href="../product-detail_page/view.html?categoryID={{pro.categoryId.id}}&productID={{pro.id}}">{{pro.name}}</a>
                                </h6>
                            </div>
                            <div class="product-price">
                                <h6>
                                    <del>{{pro.price  | number}}</del> {{pro.price*(100-pro.percentItem)/100  | number}} <p style="display: inline-block;">vnđ</p>
                                </h6>
                                <div class="product-rating">
                                    <i class="fas fa-star"></i><span>4.5/2</span>
                                </div>
                            </div>
                            <div class="product-btn" style="cursor: pointer">
                                <a ng-click="addToCart(pro.id, 'newProduct')"><i
                                        class="fas fa-shopping-basket"></i><span>Add to Cart</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    SHARE PRODUCT
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label class="col-form-label">Email</label>
                                        <input type="text" class="form-control" id="emailValue" />
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Content</label>
                                        <textarea class="form-control" id="contentValue"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-success" ng-click="shareEmail()">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>