<section class="section new-part" style="margin-bottom: 100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="title">Sale products</h2>
                    <a href="/customer/template/show-more_page/view.html?name=sale" class="btn btn-outline"><i
                            class="fas fa-eye"></i>show more</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product-slider slider-arrow">
                    <div class="product-card" ng-repeat="pro in products.percentProduct">
                        <div class="product-img" ng-repeat="img in pro.image">
                            <div ng-if="img.status == 1">
                                <img src="../../static/images/product/{{img.name}}" alt="product-1" />
                                <ul class="product-widget">
                                    <li>
                                        <button ng-click="redirectProductID(pro.id, pro.categoryId.id)"><i
                                                class="fas fa-eye"></i></button>
                                    </li>
                                    <li>
                                        <button><i class="fas fa-heart"></i></button>
                                    </li>
                                    <li>
                                        <button data-toggle="modal" data-target="#exampleModal"
                                            ng-click="getProductID(pro.id, pro.categoryId.id)">
                                            <i class="fas fa-share"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content" style="border: none;">
                            <div class="product-name" style="height: 50px">
                                <h6><a
                                        href="../product-detail_page/view.html?categoryID={{pro.categoryId.id}}&productID={{pro.id}}">{{pro.name}}</a>
                                </h6>
                            </div>
                            <div class="product-price">
                                <h6>
                                    <del>${{pro.price | number}}</del> {{pro.price*(100-pro.percentItem)/100 | number}}
                                    <p style="display: inline-block;">vnđ</p>
                                </h6>
                                <div class="product-rating">
                                    <i class="fas fa-star"></i><span>4.5/2</span>
                                </div>
                            </div>
                            <div class="product-btn" style="cursor: pointer">
                                <a ng-click="addToCart(pro.id, 'percentProduct')"><i
                                        class="fas fa-shopping-basket"></i><span>Add to Cart</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>