<main class="banner-part slider-arrow slider-dots">
  <section class="banner-1">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-lg-6"></div>
        <div class="col-md-7 col-lg-6">
          <div class="banner-content-1">
            <h1>Stay healthy life with vegans food.</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
              suscipit illum nesciunt, pariatur explicabo nemo!
            </p>
            <a class="btn btn-inline" href="product-list-1.html"
              ><i class="fas fa-shopping-basket"></i><span>shop now</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="banner-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="banner-content-2">
            <h1>Healthy food comes form healthy ingredients.</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
              suscipit illum nesciunt, pariatur explicabo nemo!
            </p>
            <a class="btn btn-inline" href="product-list-1.html"
              ><i class="fas fa-shopping-basket"></i><span>shop now</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="banner-3">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-lg-6">
          <div class="banner-content-3">
            <h1>Make your food organic and vegan.</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
              suscipit illum nesciunt, pariatur explicabo nemo!
            </p>
            <a class="btn btn-inline" href="product-list-1.html"
              ><i class="fas fa-shopping-basket"></i><span>shop now</span></a
            >
          </div>
        </div>
        <div class="col-md-5 col-lg-6"></div>
      </div>
    </div>
  </section>
</main>
<section class="section trend-part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2 class="title">New products</h2>
          <a href="product-list-1.html" class="btn btn-outline"
            ><i class="fas fa-eye"></i>show more</a
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="product-slider slider-arrow">
          <div class="product-card" ng-repeat="pro in products.newProduct">
            <div class="product-img" ng-repeat="img in pro.image">
              <div ng-if="img.status == 1">
                <img src="images/product/{{img.name}}" alt="product-1" />
                <ul class="product-widget">
                  <li>
                    <button><i class="fas fa-eye"></i></button>
                  </li>
                  <li>
                    <button><i class="fas fa-heart"></i></button>
                  </li>
                  <li>
                    <button data-toggle="modal" data-target="#exampleModal">
                      <i
                        ng-click="getProductID(pro.id)"
                        class="fas fa-share"
                      ></i>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product-content">
              <div class="product-name" style="height: 50px">
                <h6>
                  <a href="" ng-click="getProductIDRedirect(pro.id)"
                    >{{pro.name}}</a
                  >
                </h6>
              </div>
              <div class="product-price">
                <h6>
                  <del>${{pro.price}}</del
                  >${{pro.price*(100-pro.percentItem)/100}}
                </h6>
                <div class="product-rating">
                  <i class="fas fa-star"></i><span>4.5/2</span>
                </div>
              </div>
              <div class="product-btn" style="cursor: pointer">
                <a ng-click="addToCart(pro.id, 'newProduct')"
                  ><i class="fas fa-shopping-basket"></i
                  ><span>Add to Cart</span></a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  SHARE PRODUCT
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label class="col-form-label">Email</label>
                    <input type="text" class="form-control" id="emailValue" />
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label"
                      >Content</label
                    >
                    <textarea class="form-control" id="contentValue"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-success"
                  ng-click="shareEmail()"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section best-part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2 class="title">Best selling products</h2>
          <a href="product-list-1.html" class="btn btn-outline"
            ><i class="fas fa-eye"></i>show more</a
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="product-slider slider-arrow">
          <div
            class="product-card"
            ng-repeat="pro in products.bestSellerProduct"
          >
            <div class="product-img" ng-repeat="img in pro.image">
              <div ng-if="img.status == 1">
                <img src="images/product/{{img.name}}" alt="product-1" />
                <ul class="product-widget">
                  <li>
                    <button><i class="fas fa-eye"></i></button>
                  </li>
                  <li>
                    <button><i class="fas fa-heart"></i></button>
                  </li>
                  <li>
                    <button
                      data-toggle="modal"
                      data-target="#exampleModal"
                      ng-click="shareProductID(pro.id)"
                    >
                      <i class="fas fa-share"></i>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product-content">
              <div class="product-name" style="height: 50px">
                <h6><a href="#">{{pro.name}}</a></h6>
              </div>
              <div class="product-price">
                <h6>
                  <del>${{pro.price}}</del
                  >${{pro.price*(100-pro.percentItem)/100}}
                </h6>
                <div class="product-rating">
                  <i class="fas fa-star"></i><span>4.5/2</span>
                </div>
              </div>
              <div class="product-btn" style="cursor: pointer">
                <a ng-click="addToCart(pro.id, 'bestSellerProduct')"
                  ><i class="fas fa-shopping-basket"></i
                  ><span>Add to Cart</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section new-part" style="margin-bottom: 100px">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2 class="title">Sale products</h2>
          <a href="product-list-1.html" class="btn btn-outline"
            ><i class="fas fa-eye"></i>show more</a
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="product-slider slider-arrow">
          <div class="product-card" ng-repeat="pro in products.percentProduct">
            <div class="product-img" ng-repeat="img in pro.image">
              <div ng-if="img.status == 1">
                <img src="images/product/{{img.name}}" alt="product-1" />
                <ul class="product-widget">
                  <li>
                    <button><i class="fas fa-eye"></i></button>
                  </li>
                  <li>
                    <button><i class="fas fa-heart"></i></button>
                  </li>
                  <li>
                    <button
                      data-toggle="modal"
                      data-target="#exampleModal"
                      ng-click="shareProductID(pro.id)"
                    >
                      <i class="fas fa-share"></i>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product-content">
              <div class="product-name" style="height: 50px">
                <h6><a href="#">{{pro.name}}</a></h6>
              </div>
              <div class="product-price">
                <h6>
                  <del>${{pro.price}}</del
                  >${{pro.price*(100-pro.percentItem)/100}}
                </h6>
                <div class="product-rating">
                  <i class="fas fa-star"></i><span>4.5/2</span>
                </div>
              </div>
              <div class="product-btn" style="cursor: pointer">
                <a ng-click="addToCart(pro.id, 'percentProduct')"
                  ><i class="fas fa-shopping-basket"></i
                  ><span>Add to Cart</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feature-part">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <div class="feature-card">
          <i class="flaticon-delivery-truck"></i>
          <h3>Free Delivery</h3>
          <p>
            Tempora odio reiciendis incidunt tenetur deserunt dolores autem
            beatae
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="feature-card">
          <i class="flaticon-save-money"></i>
          <h3>Instant Return</h3>
          <p>
            Tempora odio reiciendis incidunt tenetur deserunt dolores autem
            beatae
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="feature-card">
          <i class="flaticon-customer-service"></i>
          <h3>Quick Support</h3>
          <p>
            Tempora odio reiciendis incidunt tenetur deserunt dolores autem
            beatae
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
