<div class="btmbar-part">
    <ul class="btmbar-widget">
        <li><a href="index.html"><i class="fas fa-home"></i><span>Home</span></a></li>
        <li><a href="wishlist.html" class="wish-icon"><i class="fas fa-heart"></i><span>Wishlist</span><sup>0</sup></a>
        </li>
        <li><a href="cartlist.html" class="cart-icon"><i
                    class="fas fa-shopping-basket"></i><span>Cart</span><sup>0</sup></a></li>
        <li><a href="account.html"><i class="fas fa-cog"></i><span>Settings</span></a></li>
    </ul>
</div>
<section class="single-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-content">
                    <h2>Contact us</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-heading">
                    <h1 class="title">Get in Touch</h1>
                    <p>Lorem ipsum dolor sunt placeat velit quia Voluptate tenetur reiciendis aliquam quaerat
                        expedita Odio sed deserunt officia.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-info"><i class="fas fa-map-marker-alt"></i>
                    <h2 class="title">Find us</h2>
                    <p>1Hd- 50, 010 Avenue, NY 90001 <span>United States</span></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info"><i class="fas fa-phone-alt"></i>
                    <h2 class="title">Make a Call</h2>
                    <p>009-215-5596 (toll free) <span>009-215-5595</span></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info"><i class="fas fa-envelope"></i>
                    <h2 class="title">Send Mail</h2>
                    <p>contact@example.com <span>info@example.com</span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form class="contact-form"><label class="contact-label"><input type="text" placeholder="Your Name"><i
                            class="fas fa-user"></i></label><label class="contact-label"><input type="text"
                            placeholder="Your Email"><i class="fas fa-envelope"></i></label><label
                        class="contact-label"><input type="text" placeholder="Your Subject"><i
                            class="fas fa-bookmark"></i></label><label class="contact-label"><textarea
                            placeholder="Your Message"></textarea><i class="fas fa-pen-nib"></i></label><button
                        class="btn btn-inline"><i class="fas fa-paper-plane"></i><span>send message</span></button>
                </form>
            </div>
            <div class="col-lg-6">
                <div class="contact-map"><iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.3406974350205!2d90.48469931445422!3d23.663771197998262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b0d5983f048d%3A0x754f30c82bcad3cd!2sJalkuri%20Bus%20Stop!5e0!3m2!1sen!2sbd!4v1605354966349!5m2!1sen!2sbd"
                        width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="100%"
                        aria-hidden="false" tabindex="0"></iframe></div>
            </div>
        </div>
    </div>
</section>