<section class="single-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="single-content">
          <h2>EDIT PROFILE</h2>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Edt profile
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container my-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="section-heading">
        <h2>User Information</h2>
      </div>
      <form class="settings-form" name="profileForm">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-label float-left">Username:</label>
              <input
                type="text"
                class="form-control"
                ng-model="$parent.username"
                readonly
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-label float-left">Email:</label
              ><input
                type="text"
                class="form-control"
                ng-model="$parent.email"
                readonly
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-label float-left">Full Name</label
              ><input
                type="text"
                id="fullname"
                class="form-control"
                name="fullname"
                ng-model="$parent.fullname"
                required
              />
              <span
                class="validateField float-left"
                ng-show="profileForm.fullname.$touched && profileForm.fullname.$error.required"
              >
                <i>Required Field </i></span
              >
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-label float-left">Phone Number:</label
              ><input
                type="number"
                class="form-control"
                name="phoneNumber"
                minlength="9"
                maxlength="9"
                ng-model="$parent.phoneNumber"
                required
              />
              <span
                class="validateField float-left"
                ng-show="profileForm.phoneNumber.$touched && profileForm.phoneNumber.$error.required"
              >
                <i>Required Field </i></span
              >
              <span
                class="validateField float-left"
                ng-show="profileForm.phoneNumber.$error.minlength || profileForm.phoneNumber.$error.maxlength"
                ><i> invalid phoneNumber</i></span
              >
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-label float-left">Address</label
              ><textarea
                id="address"
                name="Address"
                class="form-control"
                minlength="20"
                maxlength="200"
                ng-model="$parent.address"
                required
              ></textarea>
              <span
                class="validateField float-left"
                ng-show="profileForm.Address.$touched && profileForm.Address.$error.required"
              >
                <i>Required Field </i></span
              >
              <span
                class="validateField float-left"
                ng-show="profileForm.Address.$error.minlength"
                ><i> Address at least 20 chars</i></span
              >
              <span
                class="validateField float-left"
                ng-show="profileForm.Address.$error.maxlength"
                ><i> invalid field</i></span
              >
            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-btn">
              <button
                type="submit"
                class="btn btn-inline"
                ng-click="updateUser()"
                ng-disabled="profileForm.$invalid"
              >
                <i class="fas fa-user-check"></i><span>update info</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
