<section class="checkout-part">
    <div class="container">

        <form>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row checkout-form">
                        <div class="col-lg-12">
                            <div class="check-form-title">
                                <h3>Billing Address</h3>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Full name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Full Name"
                                        ng-model="user.fullname">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Address"
                                        ng-model="user.address">
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Email" ng-model="user.email">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Phone Number</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Phone Number"
                                        ng-model="user.phoneNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row checkout-table">
                <div class="col-lg-12">
                    <div class="check-form-title">
                        <h3>Confirm Order</h3>
                    </div>
                    <div class="table-scroll">
                        <table class="table-list">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pro in cartByUser track by $index">
                                    <td class="table-number">
                                        <h5>{{$index +1}}</h5>
                                    </td>
                                    <td class="table-product" >
                                        <img src="../../static/images/product/{{pro.productId.image[0].name}}" alt="product-1">
                                    </td>
                                    <td class="table-name">
                                        <h5>{{pro.productId.name}}</h5>
                                    </td>
                                    <td class="table-price">
                                        <h5>{{pro.price*(100-pro.productId.percentItem)/100  |number}}</h5>
                                    </td>
                                    <td class="table-quantity">
                                        <input type="number" value={{pro.quanlity}} min="1"
                                            ng-change="getQuantityProduct(pro.id, myValue)" ng-model="myValue" disabled>
                                    </td>
                                    <td class="table-total">
                                        <h5>{{pro.quanlity * (pro.price*(100-pro.productId.percentItem)/100)  |number}}</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="checkout-charge">
                        <ul>
                            <li><span>Shipping Charge</span><span>{{shippingCharge | number}} <p style="display: inline-block;">vnđ</p></span></li>
                            <li><span>Subtotal</span><span>{{subTotal |number}} <p style="display: inline-block;">vnđ</p></span></li>
                            <li><span>Total</span><span>{{totalBill.sumPrice + subTotal + shippingCharge |number}} <p style="display: inline-block;">vnđ</p></span></li>
                        </ul>
                    </div>
                    <div class="check-order-btn"><button class="btn btn-inline" ng-click="payCart(totalBill.billId)"><i
                                class="fas fa-paper-plane"></i><span>Place order</span></button></div>
                </div>
            </div>
        </form>
    </div>
</section>