<section class="sign-part">
    <div class="sign-content">
        <div class="content-cover">
            <a href="#"><img src="../../static/images/logo.png" alt="logo" /></a>
            <h1>Biggest online vegan food ecommerce store in worldwide.</h1>
        </div>
    </div>
    <div class="sign-form">
        <div class="back-arrow">
            <a href="#"><img src="../../static/images/logo.png" alt="logo" /></a><a href="../home_page/view.html"><i
                    class="fas fa-arrow-left"></i></a>
        </div>
        <div class="sign-cate">
            <ul class="nav nav-tabs">
                <li>
                    <a href="#signin" class="nav-link active" data-toggle="tab">sign in</a>
                </li>
                <li>
                    <a href="#signup" class="nav-link" data-toggle="tab">sign up</a>
                </li>
            </ul>
        </div>
        <div class="tab-pane active" id="signin">
            <div class="sign-heading">
                <h2>Login</h2>
                <p>Use credentials to access your account.</p>
            </div>
            <form class="form" onsubmit="asdfasdf(event, this)">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="mb-2 float-left">Username</label>
                    <input type="text" class="form-control" id="usernameLogin" placeholder="Username" required />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="mb-2 float-left">Password</label>
                    <input type="password" class="form-control" id="passwordLogin" placeholder="Password" required />
                </div>
                <div class="alert alert-danger" role="alert" ng-if="message != null">
                    {{message}}
                </div>
                <label class="form-link">
                    <a href="/customer/template/forgot_password_page/view.html">Forgot password?</a>
                </label><label class="form-btn">
                    <button id="asdf" class="d-none" ng-click="getUserLogin()">
                        sign in now
                    </button>
                    <button type="submit" class="btn btn-outline">sign in now</button>
                </label>
            </form>
        </div>
        <div class="tab-pane" id="signup">
            <div class="sign-heading">
                <h2>Register</h2>
                <p>Setup a new account in a minute.</p>
            </div>
            <form class="form" onsubmit="asdfasdfasdf(event, this)">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="mb-2 float-left">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" required
                        minlength="8" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="mb-2 float-left">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" required
                        minlength="8" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="mb-2 float-left">Email</label>
                    <input type="email" class="form-control" placeholder="Email" id="email" required />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="mb-2 float-left">Full name</label>
                    <input type="text" class="form-control" placeholder="Fullname" id="fullname" placeholder="Username"
                        required />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="mb-2 float-left">Address</label>
                    <input type="text" class="form-control" placeholder="Address" id="address" required />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="mb-2 float-left">Phone number</label>
                    <input required type="number" class="form-control" placeholder="Phone Number" id="phoneNumber"
                        required />
                </div>
                <div class="form-btn">
                    <button class="d-none" id="asdf2" ng-click="getUserSignUp()">
                        sign up
                    </button>
                    <button type="submit" class="btn btn-outline">sign up</button>
                </div>
            </form>
        </div>
    </div>
</section>