<section class="news-part">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-6">
                <div class="news-content">
                    <h2>Subscribe for Latest Offers</h2>
                </div>
            </div>
            <div class="col-md-7 col-lg-6">
                <form class="search-form news-form"><input type="text" placeholder="Enter Email Address"><button
                        class="btn btn-inline"><i class="fas fa-envelope"></i><span>Subscribe</span></button></form>
            </div>
        </div>
    </div>
</section>
<footer class="footer-part">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="footer-content"><a href="index.html"><img src="../../static/images/logo.png" alt="logo"></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur repudiandae quisquam
                        adipisci asperiores, ipsum ipsa repellat assumenda dolor perspiciatis.</p>
                    <ul class="footer-icon">
                        <li><a class="icon icon-inline" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="icon icon-inline" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="icon icon-inline" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a class="icon icon-inline" href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a class="icon icon-inline" href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="footer-content">
                    <h3 class="title">Useful Links</h3>
                    <div class="footer-widget">
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Order Tracking</a></li>
                            <li><a href="#">Best Seller</a></li>
                            <li><a href="#">New Arrivals</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Location</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Carrer</a></li>
                            <li><a href="#">Faq</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="footer-content">
                    <h3 class="title">Download the App</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dicta amet tenetur soluta
                        blanditiis at optio molestias facilis praesentium eos! Sed placeat a labore corporis aliquam
                        reiciendis eaque quisquam corrupti.</p>
                </div>
                <ul class="download-app">
                    <li><a href="#"><img src="../../static/images/google-store.png" alt="google"></a></li>
                    <li><a href="#"><img src="../../static/images/app-store.png" alt="app"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    <div class="container">
        <p>Copyright &copy; 2020 | All rights reserved by - <a target="_blank"
                href="https://themeforest.net/user/mironcoder">Mironcoder</a></p>
        <ul class="pay-card">
            <li><a href="#"><img src="../../static/images/pay-card/01.jpg" alt="payment-1"></a></li>
            <li><a href="#"><img src="../../static/images/pay-card/02.jpg" alt="payment-2"></a></li>
            <li><a href="#"><img src="../../static/images/pay-card/03.jpg" alt="payment-3"></a></li>
            <li><a href="#"><img src="../../static/images/pay-card/04.jpg" alt="payment-4"></a></li>
        </ul>
    </div>
</div>