<header class=" header-part">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <ul class="header-info">
                    <li><i class="fas fa-envelope"></i>
                        <p>info@vegana.com</p>
                    </li>
                    <li><i class="fas fa-phone-alt"></i>
                        <p>+12027953213</p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="header-option">
                    <div class="header-curr"><i class="fas fa-money-bill"></i><select
                            class="header-select custom-select">
                            <option class="clr" selected>currency</option>
                            <option class="clr" value="1">Dollers</option>
                            <option class="clr" value="2">Pound</option>
                            <option class="clr" value="3">Euro</option>
                        </select></div>
                    <div class="header-lang"><i class="fas fa-globe"></i><select class="header-select custom-select">
                            <option class="clr" selected>language</option>
                            <option class="clr" value="1">English</option>
                            <option class="clr" value="2">Turkish</option>
                            <option class="clr" value="3">italian</option>
                        </select></div>
                </div>
            </div>
        </div>
    </div>
</header>

<nav class="navbar-part">
    <div class="container">

        <!--SEARCH && ICON-->
        <div class="row">
            <div class="col-lg-12">
                <div class="navbar-element">
                    <ul class="left-widget">
                        <li><a class="icon icon-inline menu-bar" href="../#"><i class="fas fa-align-left"></i></a></li>
                    </ul><a class="navbar-logo" href="../home_page/view.html"><img src="../../static/images/logo.png"
                            alt="logo" /></a>
                    <form class="search-form navbar-src"><input id="searchValue" type="text"
                            placeholder="Search anything..." /><button class="btn btn-inline"
                            ng-click="sendRedirectSearchValue()"><i
                                class="fas fa-search"></i><span>search</span></button>
                    </form>
                    <ul class="right-widget">


                        <li ng-if="checkUser">
                            <div class="dropdown">
                                <a class="icon icon-inline dropdown-toggle" href="../#" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                        class="fas fa-user"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="../profile/view.html"> Edit Profile </a>
                                    <a class="dropdown-item" href="../change-password_page/view.html">Change
                                        Password</a>
                                    <a class="dropdown-item" href="../order_history_page/view.html">Order history</a>
                                    <a class="dropdown-item" href="" ng-click="logOut()">Log out</a>
                                </div>
                            </div>

                        </li>


                        <li ng-if="!checkUser">
                            <div class="dropdown">
                                <a class="icon icon-inline dropdown-toggle" href="" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                        class="fas fa-user"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href=""
                                        onclick="location.href = '../sign-up_sign-in_page/view.html'"> Login </a>
                                </div>
                            </div>

                        </li>

                        <li><a class="icon icon-inline" href="../wishlist_page/view.html"><i
                                    class="fas fa-heart"></i><sup>0</sup></a></li>
                        <li ng-if="!checkUser"><a class="icon icon-inline" onclick="location.href = '../cart_page/view.html'"
                                style="cursor: pointer;"><i
                                    class="fas fa-shopping-cart"></i><sup>{{cart.length}}</sup></a></li>
                        <li ng-if="checkUser"><a class="icon icon-inline" onclick="location.href = '../cart_page/view.html'"
                                style="cursor: pointer;"><i
                                    class="fas fa-shopping-cart"></i><sup>{{cartByUser.length + cart.length}}</sup></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--NAVBAR-->
        <div class="row mt-3">
            <div class="col-lg-12">
                <div class="navbar-slide">
                    <div class="navbar-content">
                        <div class="navbar-slide-cross"><a class="icon icon-inline cross-btn" href="#"><i
                                    class="fas fa-times"></i></a></div>
                        <div class="navbar-slide-logo"><a href="../home_page/view.html"><img
                                    src="../../static/images/logo.png" alt="logo" /></a>

                        </div>

                        <form class="search-form mb-4 navbar-slide-src"><input type="text"
                                placeholder="Search anything..."><button class="btn btn-inline"><i
                                    class="fas fa-search"></i><span>search</span></button>
                        </form>
                        <ul class="navbar-list">
                            <li class="navbar-item"><a class="navbar-link" href=""
                                    onclick="location.href = '../home_page/view.html'">Home</a>
                            </li>
                            <div ng-repeat="cate in categories | limitTo : 7">
                                <li class="navbar-item">
                                    <a class="navbar-link" href="" ng-click="getCategoryID(cate.id)">{{cate.name}}</a>
                                </li>
                            </div>
                            <li class="navbar-item"><a class="navbar-link" href="#!contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="btmbar-part">
    <ul class="btmbar-widget">
        <li><a href="../index.html"><i class="fas fa-home"></i><span>Home</span></a></li>
        <li><a href="../wishlist.html" class="wish-icon"><i
                    class="fas fa-heart"></i><span>Wishlist</span><sup>0</sup></a></li>
        <li><a href="../cartlist.html" class="cart-icon"><i
                    class="fas fa-shopping-basket"></i><span>Cart</span><sup>0</sup></a></li>
        <li><a href="../account.html"><i class="fas fa-cog"></i><span>Settings</span></a></li>
    </ul>
</div>