<div class="container-fuild">
  <div class="row" style="padding-top: 12%">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p>You can reset your password here.</p>
            <div class="panel-body">
              <form name="forgotForm">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                      <input id="usernameInput" placeholder="usename" name="username" class="form-control" type="text"
                        ng-model="$parent.username" required />
                    </div>
                    <span class="validateField float-left"
                      ng-show="forgotForm.username.$touched && forgotForm.username.$error.required">
                      <i>Required Field </i></span>
                    <div class="input-group mt-2">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>

                      <input id="emailInput" placeholder="email address" name="email" class="form-control" type="email"
                        ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-model="$parent.email" required />
                    </div>
                    <span class="validateField float-left"
                      ng-show="forgotForm.email.$touched && forgotForm.email.$error.required">
                      <i>Required Field </i></span>
                    <span class="validateField float-left" ng-show="forgotForm.email.$error.pattern">
                      <i>invalid Email </i></span>
                  </div>
                  <div class="form-group">
                    <input class="btn btn-success btn-block" value="Send My Password" type="submit"
                      ng-click="fotgotPassword()" ng-disabled="forgotForm.$invalid" />
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>