<section class="single-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="single-content">
          <h2>Order Manage </h2>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Order manage
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container my-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="section-heading">
        <h2>Order History</h2>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="order-content">
        <table class="table-list">
          <thead>
            <tr>
              <th scope="col">Order</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="b in bill">
              <td class="table-order">
                <p>{{b.billId}}</p>
              </td>
              <td class="table-date">
                <p>{{b.create_at}}</p>
              </td>
              <td class="table-status">
                <p ng-if="b.status== 0"><span class="badge badge-secondary">
                    Waiting Accept</span> </p>
                    <p ng-if="b.status== 1"><span class="badge badge-success">
                        Accepted</span> </p>
                        <p ng-if="b.status== 2"><span class="badge badge-secondary">
                            Cart</span> </p>
                            <p ng-if="b.status== 3"><span class="badge badge-danger ">
                                Cancle</span> </p>
              </td>
              <td class="table-product">
                <p>{{b.sumQuanlity}}</p>
              </td>
              <td class="table-total">
                <p>{{b.sumPrice}}</p>
              </td>
              <td class="table-action">
                <a
                  href="#"
                  ng-click="getBillByID(b.billId)"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  ><i class="fas fa-eye"></i></a
                ><a href="#" ng-click="getBillByID(b.billId)" ng-show="b.status == 0" data-toggle="modal"
                data-target="#myModal" ><i class="fas fa-trash-alt" ></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      </div>
    </div>
    
  </div>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Bill Detail</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                  <div class="row" ng-repeat="v in viewBill">
                    <div class="form-group col-sm-12">
                      <label class="form-control-label float-left"><b>ID Bill</b></label>
                      <br/>
                      <p class="float-left">{{v.billId.id}}</p>
                    </div>
                    

                    <div class="form-group col-sm-12">
                      <label class="form-control-label float-left"><b>Date</b></label>
                      <br/>
                      <p class="float-left">{{v.billId.createdDate}}</p>
                    </div>

                    <div class="form-group col-sm-5">
                      <label class="form-control-label float-left"><b>Product</b></label>
                      <br/>
                      <p class="float-left">{{v.productId.name}}</p>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="form-control-label float-left"><b>Quantity</b></label>
                        <br/>
                        <p class="float-left">{{v.quanlity}}</p>
                      </div>
                    <div class="form-group col-sm-3">
                      <label class="form-control-label float-left"><b>Price</b></label>
                      <br/>
                      <p class="float-left">{{v.price}}</p>
                    </div>
                
                    <div class="form-group col-sm-12" >
                      <label class="form-control-label float-left"
                        ><b>Total Price</b></label
                      >
                      <br/>
                      <p class="float-left">{{v.total}}</p>
                    </div>
                  </div>
              
            
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
        </div>
    <!--Model Delete-->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <!-- <div class="icon-box">
                   
                </div>						 -->
                    <h4 class="modal-title w-100">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to cancle these order? This process cannot be undone.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" ng-click="updateStatusBill(3)"
                        data-dismiss="modal">Cancle order</button>
                </div>
            </div>
        </div>
    </div>