<section class="single-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-content">
                    <h2>Product details </h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Product Details-2</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div ng-controller="ctrlProductDetailByID">
    <section class="product-part">
        <div class="container" ng-repeat="pdt in productDetailByID ">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="preview-slider slider-arrow" ng-repeat="img in pdt.image" ng-if="img.status == 1">
                        <img src="../../static/images/product/{{img.name}}" alt="product-1">
                    </div>
                    <div class="product-slider slider-arrow">
                        <div class="" ng-repeat="img2 in pdt.image">
                            <img src="../../static/images/product/{{img2.name}}" alt="product-1"
                                style="max-width: 70px;">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="product-name">
                        <h3>{{pdt.name}}</h3>
                    </div>
                    <div class="product-review">
                        <ul>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><a href="#">(2 Reviews)</a></li>
                        </ul>
                    </div>
                    <div class="product-price">
                        <p><del>${{pdt.price}}</del>${{pdt.price*(100-pdt.percentItem)/100}}</p>
                    </div>
                    <div class="product-summery">
                        <p>{{pdt.ingredient}}</p>
                    </div>
                    <div class="product-cart">
                        <ul>
                            <li><a class="btn btn-outline" ng-click="addToCart(pdt.id, 'productDetailByID')"><i class="fas fa-shopping-basket"></i><span>add to
                                        cart</span></a></li>
                        </ul>
                    </div>
                    <div class="product-payment">
                        <h5>Payment:</h5>
                        <ul>
                            <li><a href="#"><img src="../../static/images/pay-card/01.jpg" alt="payment-1"></a></li>
                            <li><a href="#"><img src="../../static/images/pay-card/02.jpg" alt="payment-2"></a></li>
                            <li><a href="#"><img src="../../static/images/pay-card/03.jpg" alt="payment-3"></a></li>
                            <li><a href="#"><img src="../../static/images/pay-card/04.jpg" alt="payment-4"></a></li>
                        </ul>
                    </div>
                    <div class="product-share">
                        <h5>Share:</h5>
                        <ul>
                            <li><a class="icon icon-inline" href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="icon icon-inline" href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a class="icon icon-inline" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a class="icon icon-inline" href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a class="icon icon-inline" href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-contact">
                        <p>Have any inquery about this product (SKU:0X2E615)</p>
                        <h4><i class="fas fa-phone-alt"></i>09638111666</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product-tab-part" ng-repeat="pdt2 in productDetailByID">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-tab-menu">
                        <ul class="nav nav-tabs">
                            <li><a href="#specific" class="nav-link active" data-toggle="tab">specification</a></li>
                            <li><a href="#descrip" class="nav-link" data-toggle="tab">description</a></li>
                        </ul>
                    </div>

                    <div class="tab-pane active" id="specific">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row">Date of manufacture</th>
                                    <td>{{pdt2.dateStart}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Expiration date</th>
                                    <td>{{pdt2.dateEnd}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Category</th>
                                    <td>{{pdt2.categoryId.name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Supplier</th>
                                    <td>{{pdt2.supplierId.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="descrip">
                        <div class="product-tab-desc">
                            <p>{{pdt2.ingredient}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="section related-part mb-5" ng-controller="ctrlRelateProduct">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="title">Related products</h2>
                    <a href="shop-leftbar.html" class="btn btn-outline"><i class="fas fa-eye"></i>show more</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product-slider slider-arrow">
                    <div class="product-card" ng-repeat="pRelate in allProductRelate">
                        <div class="product-img" ng-repeat="img in pRelate.image" ng-if="img.status == 1">
                            <img src="../../static/images/product/{{img.name}}" alt="product-1">
                            <ul class="product-widget">
                                <li><button ng-click="redirectProductID(pRelate.id, pRelate.categoryId.id)"><i class="fas fa-eye"></i></button></li>
                                <li><button><i class="fas fa-heart"></i></button></li>
                                <li><button data-toggle="modal" data-target="#exampleModal"
                                    ng-click="getProductID(pRelate.id, pRelate.categoryId.id)"><i class="fas fa-exchange-alt"></i></button></li>
                            </ul>
                        </div>
                        <div class="product-content">
                            <div class="product-name" style="height: 50px">
                                <h6><a href="../product-detail_page/view.html?categoryID={{pRelate.categoryId.id}}&productID={{pRelate.id}}">{{pRelate.name}}</a></h6>
                            </div>
                            <div class="product-price">
                                <h6><del>${{pRelate.price}}</del>${{pRelate.price*(100-pRelate.percentItem)/100}}</h6>
                                <div class="product-rating"><i class="fas fa-star"></i><span>4.5/2</span></div>
                            </div>
                            <div class="product-btn"><a ng-click="addToCart(pRelate.id, 'relatedProduct')"><i class="fas fa-shopping-basket"></i><span>Add to
                                        Cart</span></a></div>
                        </div>
                    </div>

                </div>
                <!--POP-UP-->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    SHARE PRODUCT
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label class="col-form-label">Email</label>
                                        <input type="text" class="form-control" id="emailValue" />
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Content</label>
                                        <textarea class="form-control" id="contentValue"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-success" ng-click="shareEmail()">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>