/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 70px;
  height: 70px;
  margin: -76px 0 0 -76px;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

.loader-cover {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.toast-holder {
  position: fixed;
  left: 0;
  height: fit-content;
  width: fit-content;
  bottom: 0;
}

/* 
.banner-1{
  background:url(../../images/banner/01.jpg);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  padding:130px 0px;
  position:relative}
.banner-1::before{
  position:absolute;
  content:"";top:0px;
  left:0px;width:100%;
  height:100%;
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(93,186,71,0.3)), to(rgba(85,173,65,0.1)));
  background:linear-gradient(rgba(93,186,71,0.3), rgba(85,173,65,0.1));
  z-index:-1}
  .banner-content-1{
    z-index:3
  }
  .banner-content-1 h1{
    color:var(--whitecolor);
    margin-bottom:25px
  }
  .banner-content-1 p{
    font-size:18px;
    color:var(--graycolor);
    margin-bottom:45px
  } */

/* FONT*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
html,
body,
h2,
h6,
h5 {
  font-family: "Playfair Display", serif !important;
}

body {
  background: white !important;
}
