input.ng-pristine {
    background-color:white;
}

input.ng-touched.ng-invalid {
    border-color: red;
}
textarea.ng-touched.ng-invalid {
    border-color: red;
}
select.ng-touched.ng-invalid {
    border-color: red;
}
input.ng-touched.ng-valid {
    background-color:white;
}
.validateField {
color: red;
font-size: 14px;
text-shadow: 5em;
}
input[type="text"]:invalid~label {
    color: red;
  }



  